# History files
.Rhistory
.Rapp.history
# User-specific files
.Ruserdata
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# R Environment Variables
.Renviron
README.html
# Dossier données et archives
donnees/
Archives/
Outputs/
# Non used scripts
R/comp_thallsimonestey.R
R/comparaison_BOP2.R
R/comparaison_simon.R
R/exemple_azaplus_complet.R
R/figure_scenars.R
R/script_verif_articleBOP2.R
R/test_integrate.R
R/test_cutoffs.R
R/simu_vsref_working.R
R/simu_vscont_working.R
R/plot_vsref_working.R
R/plot_vscont_working.R
R/plot_seuils_working.R
R/calcul_nsn.R
Data/ex_clinique/data_example.Rdata

Rplot.jpeg
Data/sensibilite/varcorr_vscont_20230621.Rdata
Data/sensibilite/resultatssens_brutscont_13scenar_20230622.Rdata
Data/sensibilite/varcorr_vsref_20230621.Rdata
Data/sensibilite/varcorr_vsref_20230620.Rdata
Data/simu_vscont/resultatssens_brutscont_13scenar_20230610.Rdata
Data/simu_vscont/resultatssens_brutscont_13scenar_20230619.Rdata
Data/simu_vscont/senscutoff_13scenar_20230610.Rdata
Data/simu_vscont/senscutoff_13scenar_20230619.Rdata
Data/simu_vsref/cutoff_sens30_uncont_20230619.Rdata
Data/simu_vsref/sens30_uncont_20230609.Rdata
Data/simu_vsref/sens_30ptsuncont_20230619.Rdata
Data/simu_vsref/sens_bruts_13scenar_20230610.Rdata
Data/simu_vsref/senspriorneut1_bruts_13scenar_20230611.Rdata
Data/simu_vsref/senspriorneut1_bruts_13scenar_20230612.Rdata
Data/simu_vsref/senspriorneut1_uncont_20230611.Rdata
Data/simu_vsref/senspriorneut1_uncont_20230612.Rdata
Data/simu_vsref/senspriorneut5_bruts_13scenar_20230613.Rdata
Data/simu_vsref/senspriorneut5_uncont_20230612.Rdata
Data/simu_vsref/senspriorneut5_uncont_20230613.Rdata
Data/simu_vsref/sensprioropt1_bruts_13scenar_20230611.Rdata
Data/simu_vsref/sensprioropt1_bruts_13scenar_20230613.Rdata
Data/simu_vsref/sensprioropt1_uncont_20230611.Rdata
Data/simu_vsref/sensprioropt1_uncont_20230613.Rdata
Data/simu_vsref/sensprioropt5_bruts_13scenar_20230613.Rdata
Data/simu_vsref/sensprioropt5_uncont_20230613.Rdata
Data/simu_vsref/senspriorpess5_bruts_13scenar_20230613.Rdata
Data/simu_vsref/senspriorpess5_uncont_20230613.Rdata
